@font-face 

{  font-family: OpenSans-Light ; 
    src: url('fonts/OpenSans-Light.ttf') }

img.projets:hover {
    border: 1px solid black ;
    box-shadow: 6px 6px 6px black;
    cursor: pointer ;
}

p.premier {
    text-transform: uppercase ;
}

body {
    background-color: black ;
}

p.projets {
    text-transform: uppercase ;
    color: green;
}

p.projets:hover {
    cursor: pointer ; 
}

div.nav {
    border-bottom: 1px solid black ;
    text-align: center ;
    line-height: 15px ;
    cursor: pointer ;
    background-color: black ;
    box-shadow: 6px 6px 6px black ;

}

div.body{ 
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
    line-height: 30px ;
    font-family: 'OpenSans-Light';
    background-color: white;
}

div.footer {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 15px ;
    font-family: 'OpenSans-Light';
}

h1 {
    margin-top: -40px ;
}

h1,h2 {
    text-transform: uppercase ;
    text-align: center ;
}

a {
    color: chartreuse ;
}

a.normal:hover {
    color: red ;
}

a.normal:active {
    color: aqua ;
}

@media screen and (max-width: 856px)

{
  
    img.projets:active {
        border: 1px solid black ;
        box-shadow: 6px 6px 6px black ;  
    }










    
}